.main {
	margin-top: 50px;
	overflow: hidden;
}
.otp-txt {
	margin-bottom: 20px;
	text-align: center;
	color: rgb(30, 41, 59);
}
.inputs-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.otp-inputs {
	text-align: center;
	border-width: 2px;
	width: 2.5rem;
	border-style: dashed;
	border-radius: 0.25rem;
	border-color: rgb(100 116 139);
	margin-left: 13px;
	margin-right: 13px;
}
.otp-inputs:hover {
	border-color: rgb(51 65 85);
}
